.all-matchups td { border: 1px grey solid; padding: 0px 5px; }
.attacker { text-align: right; height: 3em; }
.defender-th { vertical-align: bottom; }
.defender-outer { display: flex; justify-content: center; padding: 5px 0px; }
.defender-inner { writing-mode: sideways-lr; }
.result { text-align: center; }
.result>a { color: black; text-decoration: underline; }

.matchup-big-summary { padding: 30px; text-align: center; margin: 16px 0px; }
@media (min-width: 576px) { /* number taken from bootstrap */
    .logo { margin-top: -.5rem; margin-bottom: -.5rem; }
}
@media (min-width: 768px) { /* number taken from bootstrap */
    .game {
        border: 50px #080884 solid;
        border-radius: 40px;
    }
}

.game {
    display: inline-block;
    margin-bottom: 1rem; /* Same as for <p> */
    background-color: #080884;
}
.game td {
    width: 72px;
    height: 72px;
    text-align: center;
}
.cr, .cy, .ce {
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
}
.cr {
    background-image: url("tile-red.png");
}
.cy {
    background-image: url("tile-yellow.png");
}
.ce {
    background-image: url("tile-empty.png");
}
